.QuestionContainer {
    flex: 1; 
    overflow-wrap: anywhere;
}

.questionItem {
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    color: #6B778C;
    background-color: white;
    padding-left: 10%;
}

h3 {
    font-size: 1.5rem;
    color: #6B778C;
    background: white;
    padding-left: 10%;
    padding-top: 5%;
    margin-bottom: 0;
}

.questionAnchor {
    flex: 1;
    min-width: 0;
    border-left: 3px solid #6B778C;
    padding: 11px 5px 11px 5px;
    font-weight: lighter;
    font-size: .9rem;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1rem;
    margin-left: 5px;
    font-style: italic;
    color: #6B778C;
    max-height: 200px;
    overflow: auto;
    display: inline-block;
}

.anchorURLContainer {
    font-size: .75rem;
    color: #a3a9b1;
}