.FilterSectionRow {
    display: flex;
    flex-wrap: wrap;
}

#GroupFilterSection {
    flex-wrap: nowrap !important;
}

.FilterSectionRow#Header {
    display: flex;
    padding: 0px 0px 0px 8px;
}
.multi-select-wrapper{
    width: 80%
}

#GroupFilterSectionText  {
    padding-right: 12px;
    font-style: oblique;
    cursor: auto;
}

#GroupFilterSectionText:hover {
    color: #6B778C !important;
}

.TagListContainer {
    display: block;
}

#FilterSectionText {
    font-style: oblique;
    cursor: auto;
}

#FilterSectionText:hover {
    color: #6B778C !important;
}

#collapseTagList {
    width: 14px;
    height: 14px;
    border: none;
}

.FilterDropDownSearch{
    margin: 0rem .35rem;
}

.FilterSection {
    border: 1px solid #dbdbdb;
    margin: .15rem;
    border-radius: 24px;
    padding: .15rem .25rem 0 .15rem;
    position: relative;
    display: flex;
    font-size: 0.9rem;
    color: #e4e6eba8;
    flex-wrap: wrap;
    line-height: 2em;
    height: 2em;
    /* margin-right: 1em; */
    position: relative;
    cursor: pointer;
}

.FilterSection:hover {
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}


.FilterIconContainer {
    width: 20px;
    height: 20px;
    margin-left: 3px;
}
.FilterSummaryContainer{
    padding: 10px;
    background: white;
    box-shadow: 2px 2px 2px #88888887;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    flex: 1;
    min-width: 0;
    transition: all 0.1s ease-in;
    position: relative;
    font-size: 0.9rem;
    color: #6B778C;
}

/* #author-visibility::after{
    display: none; 
 } */

.filterDropDown{
    font-family: 'Roboto';
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    color: #505662 !important;
    background-color: transparent !important;
    padding: 0px !important;
    border: none !important;
    display: flex !important;
}
.filterDropDown::after{
    display: none !important; 
}
/* .filterDropDown:hover{
    color: #6b778ca1 !important;
} */
.filterDropDown:focus{
    box-shadow: none !important;
}
.filterReactIcon{
    width: 18px;
    height: 20px;
    cursor: pointer;
}

DropdownItemOverwrite dropdown-item

.FilterSection .tagFilterNotEnabled {
    cursor: default
}

.Filter {
    width: 2em;
    color: #7f8080;
    height: 2em;
    cursor: pointer;
}

.Filter:hover {
    color: #242424;
    cursor: pointer;
  }

.FilterContainer {
    padding: 5px;
    background: white;
    /* border: 1px solid #bfbebe; */
    box-shadow: 2px 2px 2px #88888887;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
  
    flex: 1;
    min-width: 0;
    /* padding: 4px 4px 4px 4px;
    cursor: default;
    outline-style: solid;
    color: rgb(44, 44, 44); */
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; */
    /* background-color: rgba(255, 255, 255, 0.5); */
    transition: all 0.1s ease-in;
    position: relative;
    /* box-shadow: gray; */
  }

.UserTime {
    display: flex;
    font-size: 0.9rem;
    color: #6B778C;
}

.User {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

.Time {
    display: flex;
    justify-content: center;
    padding: 8px;
    flex-direction: column;
}

.filterButton {
    position: relative;
    background-color: #dcdcdc;
    color: #6B778C;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 0.2rem;
    border: none;
}

.filterButton.selected {
    position: relative;
    background-color: #0278bf;
    color: whitesmoke ;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.SiteScopeButtonContainer {
    display: flex;
    justify-content: center;
    padding: 4px 8px 0px 0px;
    flex-direction: column;
    width: 100%;
}

.SiteScope {
    padding: 8px;
    /* display: flex; */
    font-size: 0.9rem;
    color: #6B778C;
}

.SiteScopeRow {
    display: flex;
}

.AnnoTypeButtonSelect {
    background-color: transparent;
    color: #6B778C;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 0.2rem;
    border: none;
}

.Revert{
    padding: 8px;
    font-size: 0.9rem;
    color: #6B778C;
}

.RevertFilterButton {
    color: #6B778C;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 0.2rem;
    border: none;
}

.AnnotationTypeFilter {
    padding: 8px;
    font-size: 0.9rem;
    color: #6B778C;
}

.AnnoTypeButtonRow {
    display: flex;
}

.AnnoTypeButtonContainer {
    display: flex;
    justify-content: center;
    padding: 0px 8px 0px 0px;
    flex-direction: column;
    /* width: 100%; */
}

.FilterByTag {
    width: 100%;;
    padding: 8px;
    font-size: 0.9rem;
    color: #6B778C;
    cursor: default;
}

.FilterByTag hr { 
    margin: .5rem 0 ;
}

.SearchByTag {
    padding: 8px;
    font-size: 0.9rem;
    color: #6B778C;
}

.TagButton {
    box-shadow: 2px 2px 1px 0px #ebebebfa;
    border-bottom-left-radius: 8px;
    border: 1px solid #e5e5e5 !important;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: transparent;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 2;
    padding: 0.15rem 0.5rem;
}

.TagButton:hover {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 25%);
}

.TagButton.selected {
    background: #dcf2bb;
    border-bottom-left-radius: 8px !important;
    border-top-left-radius: 8px !important;
}

.TagButtonsWrapper{
    display: flex;  
    width: 100%;
    padding: .1rem .2rem;
    overflow: overlay;
}

.TagControlWrapper{
    display: flex;
    float: right;
}

.TagButtonPad {
    display: flex;
    justify-content: center;
    padding: 4px 8px 0px 0px;
    flex-direction: column;
}

.TagListContainer {
    display: block;
    flex-wrap: wrap;
}

.TagNames{
    margin: 0;
    padding: 0px 0px 0px 0px;
    max-width: 400px;
    overflow: scroll;
}

@media (max-width:350px){
    .TagNames {
        max-width: 100px;
    } 
}

.ClearTags{
    width: 15px;
    height: 18px;
    cursor: pointer;
}

.ClearTags:hover{
    filter: brightness(1.5);
}

#collapseTagList {
    transform: rotate(90deg);
    width: 18px;
    height: 18px;
}

.Input {
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: 4px 8px;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-transition: border-color .1s ease,-webkit-box-shadow .1s ease;
    transition: border-color .1s ease,-webkit-box-shadow .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
}
  

/* .Filter.hover, .Filter:hover {
    filter: brightness(.5);
  } */

