.FilterSectionRow {
    display: flex;
}

.FilterSectionRow#Header {
    display: flex;
    padding: 0px 0px 0px 8px;
}

.FilterSection {
    position: relative;
    display: flex;
    font-size: 0.9rem;
    color: #6B778C;
    padding: 4px 8px 0px 8px;
}

.FilterIconContainer {
    width: 20px;
    height: 20px;
}
.FilterSummaryContainer{
    padding: 5px;
    background: white;
    box-shadow: 2px 2px 2px #88888887;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    flex: 1;
    min-width: 0;
    transition: all 0.1s ease-in;
    position: relative;
    font-size: 0.9rem;
    color: #6B778C;
}