.FilterSectionRow {
    display: flex;
    flex-wrap: wrap;
}

#GroupFilterSection {
    flex-wrap: nowrap !important;
}

.FilterSectionRow#Header {
    display: flex;
    padding: 0px 0px 0px 8px;
}
.multi-select-wrapper{
    width: 80%
}

#GroupFilterSectionText  {
    padding-right: 12px;
    font-style: oblique;
}

#FilterSectionText {
    font-style: oblique;
}

.FilterSection {
    position: relative;
    display: flex;
    font-size: 0.9rem;
    color: #6B778C;
    padding: 4px 8px 0px 8px;
    flex-wrap: wrap;
}

.FilterSection:hover {
    cursor: pointer;
    color: #6b778ca1 !important;
}

.FilterIconContainer {
    width: 20px;
    height: 20px;
    margin-left: 3px;
}
.FilterSummaryContainer{
    padding: 5px;
    background: white;
    box-shadow: 2px 2px 2px #88888887;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    flex: 1;
    min-width: 0;
    transition: all 0.1s ease-in;
    position: relative;
    font-size: 0.9rem;
    color: #6B778C;
}

/* #author-visibility::after{
    display: none; 
 } */

.filterDropDown{
    font-size: 0.9rem !important;
    color: #6B778C !important;
    background-color: transparent !important;
    padding: 0px !important;
    border: none !important;
    display: flex !important;
}
.filterDropDown::after{
    display: none !important; 
}
.filterDropDown:hover{
    color: #6b778ca1 !important;
}
.filterDropDown:focus{
    box-shadow: none !important;
}
.filterReactIcon{
    width: 18px;
    height: 20px;
    cursor: pointer;
}