.TitleContainer {
  padding: 1px;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 1em;
  padding-top: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 4px 2px #88888866;
  background: white;
}



.GroupLimitTitle {
  max-width: 150px;
  overflow: scroll;
  text-overflow: ellipsis;
}

@media (max-width:350px){
  .GroupLimitTitle {
    max-width: 75px;
  }
}

.GroupLimitDropDown {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (max-width:300px){
  .TitleIcon {
      display: none;
  }

}

.TitleIcon {
  vertical-align: middle;
  border-style: none;
  height: 2em;
  padding: 4px 2px 1px 1px;
}

.col-5{
  max-width: 50% !important;
}

.TitleContainer .container .row .col .Header {
  display: flex;
  padding: 5px;
  /* background: white; */
}

.TitleContainer .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: auto;
  flex-wrap: inherit;
  margin-right: -15px;
  margin-left: -15px;
}

.TitleContainer .row2 {
  display: -ms-flexbox;
  display: table-cell;
  -ms-flex-wrap: auto;
  flex-wrap: inherit;
  float: right;
  margin-right: -15px;
  margin-left: -15px;
}

.TitleContainer .col2 {
  position: relative;
  display:inline-table;
  width: 100%;
  padding-right: 15px;
  padding-left: 0px;
  display: inline-flex;
  flex-wrap: wrap;
}

.TitleContainer .container {
  width: auto;
  /* margin-left: 1em; */
  margin-right: 1em;
  max-width: 99%;
  /* margin-right: auto; */
  /* margin-left: auto;*/
}

.TitleContainer .col {
  position: relative;
  width: 100%;
  margin: auto;
  background: transparent;
}

.TitleContainer .Title {
  font-weight: 600;
  font-size: x-large;
  /* line-height: 2; */
  font-family: serif;
  /* padding-top: 3px; */
}

.TitleContainer .UserContainer {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.TitleContainer .UserEmail {
  font-weight: 300;
}

.TitleContainer .UserSignOutButton {
  margin-top: 4px;
  font-size: 0.6rem;
}

.userIcon {
  position: inherit;

  left: 0px;
  right: 0px;
  width: 2em;
  color: #6B778C;
  height: 1.5em;
}

.EmailNameSection {
  position: relative;
  display: flex;
  font-size: 0.9rem;
  color: #6B778C;
  flex-wrap: wrap;
}

.UserNameIconContainer {
  display: flex;
}


.userIcon:focus {
  color: transparent !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  outline-color: none;
}


#dropdown-menu{
  background-color: transparent;
  padding: 4px;
}

.caret {
  border-width: 500px;
  border-bottom-width: 0; 
}

.TitleContainer .dropdown-toggle::after {
   display: none !important; 
}  


.TitleContainer .container .row .btn {
  padding: 0px;
  border-color: transparent;
  background-color: transparent;
}

.TitleContainer .container .row .nav-item:hover .dropdown-menu{
  display:block!important
}

.TitleContainer .container .row .btn-primary:focus, .btn:active {
  color:transparent;
  background-color: transparent !important;
  border-color: transparent;
  box-shadow: 0 0 0 0 transparent;

}

.TitleContainer .container .row .btn-primary:focus, .btn-primary:active {
  outline: none !important;
  box-shadow: none;
  outline-color: none;
}

.TitleContainer .container .row .dropdown-toggle:focus,.dropdown-toggle:active {
  outline: none !important;
  box-shadow: none;
  outline-color: none;
}

.TitleContainer .container .row .btn-primary:not(:disabled):not(.disabled):active, .TitleContainer .container .row .btn-primary:not(:disabled):not(.disabled).active, .TitleContainer .container .row .show > .TitleContainer .container .row .btn-primary.dropdown-toggle {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  outline-color: none;
} 

.dropdown-menu.show {
  font-family: 'Roboto';
  display: block;
  box-shadow: 2px 2px 3px 3px #88888887;
  border: 0px solid transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.NewAnnotationButtonContainer {
  padding: .5em;
  cursor: pointer;
  outline-color: transparent !important;
}

.SandwichTopBar {
  padding-top: .2em !important;
}

.NewAnnotationButtonContainer {
  padding: .5em;
  cursor: pointer;
  outline-color: transparent !important;
}

.NewAnnotationButtonContainer:hover {
  padding: .5em;
  background: #e4e6eb;
  border-radius: 2em;
}

.dropdown{
  outline-color: transparent !important;
  box-shadow: none !important;
}

.vertical-center .dropdown-toggle .btn .btn-primary{
  outline-color: transparent !important;
  box-shadow: none !important;
}

.TitleContainer .container .row .btn {
  outline-color: transparent !important;
  box-shadow: none !important;
}

.NewAnnotationButtonContainer:focus, .NewAnnotationButtonContainer:focus-within, .NewAnnotationButtonContainer:focus-visible, .NewAnnotationButtonContainer:target, .NewAnnotationButtonContainer:active  {
  padding: .5em;
  background: rgb(34 195 105 / 12%);
  border-radius: 2em;
  outline-color: transparent;
  box-shadow: none !important;
}

.titleDropDown{
  font-size: 0.9rem !important;
  color: #6B778C !important;
  background-color: transparent !important;
  padding: 0px !important;
  border: none !important;
  display: flex !important;
  margin: 3px;
}
/* .titleDropDown:after{
  display: none !important; 
} */
.titleDropDown:hover{
  color: #6b778ca1 !important;
}
.titleDropDown:focus{
  box-shadow: none !important;
}

.OptionProfileContainer {
  padding: 10px !important;
}

.OptionCol{
  padding-left: 0px !important;
}

.OptionLineBreak{
  cursor: auto;
  padding: 0 1.0rem !important;
}

.OptionLineBreak:hover{
  background: transparent !important;
  background-color: transparent !important;
  cursor: default;
}

.VersionDropDown{
  margin-top: .5rem;
  color: #6B778C !important;
  font-size: .75rem;
  font-weight: 300 !important;
  padding: 0rem 1.5rem !important;
  cursor: pointer;
}

.VersionDropDown:hover{
  background: transparent !important;
  background-color: transparent !important;
  cursor: default;
}

.TitleRight{
  display: inline-flex;
  float: right;
}

