.NewAnnotationContainer {
  padding: 5px 15px 5px 15px;
  width: 100%;
}

.SelectedTextContainer {
  border-left: 3px solid lightgray;
  padding: 5px 5px 5px 10px;
  font-weight: lighter;
  font-size: 0.9rem;
  line-height: 1rem;
  font-style: italic;
  color: #666;
  max-height: 200px;
  overflow: auto;
}

.TextareaContainer {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.TextareaContainer textarea {
  resize: none;
  font-size: 14px;
  padding: 3px 6px;
}

.SubmitButtonContainer {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.SubmitButtonContainer .SubmitButton:disabled {
  cursor: not-allowed;
}
