.NewAnnotationContainer {
  padding: 5px 15px 5px 15px;
  width: 100%;
}

.SelectedTextContainer {
  border-left: 3px solid #658167;
  padding: 5px 5px 5px 10px;
  font-weight: lighter;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1rem;
  margin-left: 5px;
  font-style: italic;
  color: #666;
  max-height: 200px;
  overflow: auto;
  
}

.TextareaContainer {
  width: 100%;
  padding: 5px;
}

.TextareaContainer textarea {
  resize: none;
  font-size: 14px;
  padding: 3px 6px;
}

.SubmitButtonContainer {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.SubmitButtonContainer .SubmitButton:disabled {
  cursor: not-allowed;
}

.InnerNewAnnotation {
  padding: 5px;
  background: white;
  border: 1px solid #bfbebe;
  box-shadow: 5px 5px 5px #88888887;
}

.AnnoatationButton{
  color: black !important; 
  background-color: transparent !important;
  border-color: gray !important;
  border-radius: 0px !important;
}
