.anchor-box {
    background: gold;
    opacity: 50%;
}

.groupButton {
    text-align: center;
}

.highlight-adamite-annotation {
    background-color: rgb(38, 207, 0, 0.35);
    cursor: pointer;
    display: inline;
}

.highlight-adamite-annotation-preview {
    background-color: #7cce7299;
    cursor: pointer;
    display: inline;
}

.onHoverCreateAnnotation:hover{
    border-radius: 1rem;
    background: rgb(34 195 105 / 26%);
}

.onHoverCreateAnnotation {
    all: initial;
    -webkit-animation-duration: 80ms;
    animation-duration: 80ms;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    box-sizing: border-box;
    /* direction: ltr; */
    background: #fff;
    color: black;
    font-size: 9pt;
    font-family: 'Arial';
    padding: .5rem;
    cursor: pointer;
    margin-right: .1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onHoverCreateQuestionAnnotation {
    all: initial;
    -webkit-animation-duration: 80ms;
    animation-duration: 80ms;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    box-sizing: border-box;
    /* direction: ltr; */
    background: #fff;
    color: #6B778C;
    font-size: 9pt;
    font-family: 'Arial';
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #6B778C;
}

.svg-button {
    width: 15px;
    height: 15px;
}

.buttonIconContainer {
    padding: 2px;
    margin: auto;
}


.CreatAnnotationRow{
    /* width: 100%; */
    text-align: center;
    flex-direction: row;
    display: flex;
    /* overflow: auto; */
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);

    padding: 5px;
    background: white;
    box-shadow: 5px 5px 2px #88888866;
    border-radius: 8px;
    flex: 1;
    min-width: 0;
    transition: all 0.1s ease-in;
    position: relative;
}

.buttonRow {
    /* width: 100%; */
    text-align: center;
    flex-direction: row;
    display:flex;
    /* overflow: auto; */
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,.13);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.5rem;
    position: relative;
}

.buttonColumn {
    /* width: 100%; */
    text-align: center;
    flex-direction: column;
    display:flex;
    /* overflow: auto; */
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,.13);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.5rem;
    position: absolute;
    top: 50px;
    padding: .5rem;
    cursor: pointer;
    margin-right: .1rem;
}

.buttonIconContainer:hover {
    filter: brightness(1.4);
    transition: opacity .55s ease-in-out;
}

.Toastify__toast{
    border-radius: 120px;
}

.Toastify__close-button {
    margin: 1rem;
}

.Toastify__toast-body{
    margin: auto 5rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.Toastify__toast--warning{
    background: rgb(0 0 0) !important;
    font-family: sans-serif;
}

.Toastify__toast-container{
    /* color:#777; */
    font-weight: 300;
    z-index: 9999999999;
}