.AnnotationItem {
  width: 100%;
  display: flex;
  position: relative;
  /* padding: 15px 15px 5px 15px; */
  padding: 15px 5px 5px 5px;
  margin-bottom: 2%;
}

.InnerNewAnnotation {
  padding: 5px;
  background: white;
  border: 1px solid #bfbebe;
  box-shadow: 5px 5px 5px #88888887;
}


.CollapseIconPad {
  height: 8px;
}

.AnnotationContainerPad {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
}

.groupName {
  margin: 0px 4px;
  font-size: 12px;
  font-style: italic;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  /* width: min-content; */
  max-width: 250px;
  overflow-wrap: break-word;
}

.AnnotationContainerPadActive {
  background-color: rgb(255, 255, 255);
}

.AnnotationContainerPadInactiveHovering {
  background-color: rgb(244, 245, 245);
}

.AnnotationContainerLeftPadInner {
  width: 100%;
  height: 100%;
  background-color: rgb(222, 225, 230);
  border-bottom-right-radius: 8px;
}

.AnnotationContainerRightPadInner {
  width: 100%;
  height: 100%;
  background-color: rgb(222, 225, 230);
  border-bottom-right-radius: 8px;
}

.author {
  padding: 0px 0px 0px 4px;
  color: #6B778C;
  font-weight: bold;
}

.timestamp {
  padding: 0px 0px 0px 4px;
  color: #6B778C;
  font-size: 12px;
}

.profileContainer{
  padding: 5px;
  margin: auto;
  max-width: 99% !important;
  border-radius: 50%;
  background-color: #EBECF0;
  text-align: center;
  cursor: default;
}

.userProfile {
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  margin: auto;
  color: #1d1e24c4;
  cursor: pointer;
}

.profile {
  width: 20px;
  height: 20px;
  color: #1d1e24c4;
  cursor: pointer;
}


.userProfileContainer {
  height: 100%;
  width: 100%;
  color: #6B778C;
}

.AnnotationContainer {
  padding: 5px;
  background: white;
  /* border: 1px solid #a6a6a694; */
  box-shadow: 5px 5px 2px #88888866;
  /* border: 1px solid #bfbebe;
  box-shadow: 2px 2px 2px #88888887; */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  flex: 1;
  min-width: 0;
  /* padding: 4px 4px 4px 4px;
  cursor: default;
  outline-style: solid;
  color: rgb(44, 44, 44); */
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  /* background-color: rgba(255, 255, 255, 0.5); */
  transition: all 0.1s ease-in;
  position: relative;
  /* cursor: pointer; */
  /* box-shadow: gray; */
}

.AnnotationContainer.SelectedAnnotationContainer {
  border: 1px solid #2c64ca;
}

.annotationTypeBadge.row2 {
  display: table-cell;
  -ms-flex-wrap: auto;
  flex-wrap: inherit;
  float: right;
  margin-right: -15px;
  margin-left: -15px;
}

.dropdown-link a {
  font-size: small !important;
}

.DropdownItemOverwrite {
  padding: 0.45rem 1.5rem !important;
  font-weight: 300 !important;
  font-size: .85em !important;
}

.DropdownItemOverwrite:hover {
  padding: 0.45rem 2rem !important;
}

.DropdownIcons{
  height: 1.25em;
  width: 1.25em;
}

.DropdownIconsWrapper {
  display: inline;
  margin-right: 1em;
  position: relative;
  cursor: pointer;
  padding: .35em .35em .35em .35em;
  background: #69696924;
  border-radius: 1em;
}

.openCloseQuestionRow {
  padding-bottom: 5px;
}

.badgeContainer {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.badgeContainer:hover, .badgeContainer.hover {
  filter: brightness(1.2);
}

.badgeIconSvg {
  color: #6B778C;
  width: 24px;
  height: 24px;
}

.btn-openCloseQuestion {
  font-size: small;
  color: #6B778C;
  background-color: #bfbebe;
}

.annotationTypeBadge .col2 {
  padding: 3px 3px 3px 3px;
  /* display: inline-flex; */
  position: absolute;
  background: white;
  top: -20px;
  right: -15px;
  box-shadow: 2px 2px 2px #88888887;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  
  border-top-right-radius: 8px;
}
/* .ActiveAnnotationContainer {
  background-color: rgb(255,255,255);
  outline-style: bold;
  outline: burlywood;
} */

.InactiveAnnotationContainerHovering {
  background-color: rgb(255, 248, 155);
}

.AnnotationTitleContainer {
  flex: 1;
  min-width: 0;

  display: flex;
  align-items: center;
}

.AnnotationTitle {
  flex: 1;
  position: relative;
}

#collapse {
  transform: rotate(180deg) 
}

.Truncated {
  white-space: nowrap;
  /*word-break: break-all;*/
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: none;
}

.Clicked {
  fill: rgb(20, 197, 135);
  stroke: rgb(20, 197, 135);
  color: rgb(20, 197, 135) !important;
  border-color: rgb(20, 197, 135);
}

.Clicked object {
  fill: rgb(20, 197, 135);
  stroke: rgb(20, 197, 135);
  color: rgb(20, 197, 135);
  border-color: rgb(20, 197, 135);
}

.AnchorContainer .Clicked {
  fill: rgb(20, 197, 135);
  stroke: rgb(20, 197, 135);
  color: rgb(20, 197, 135);
  border-color: rgb(20, 197, 135);
}

.AnchorContainer:hover {
  color: rgb(20, 197, 135);
  border-color: rgb(20, 197, 135);
  cursor: pointer;

}

.AnchorContainer:hover object {
  fill: rgb(20, 197, 135);
  stroke: rgb(20, 197, 135);
}

.AnchorContainer {
  flex: 1;
  min-width: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  border-left: 3px solid rgba(34,195,105,0.35);
  background: rgb(34 195 105 / 12%);
  padding: 11px 5px 11px 5px;
  font-weight: lighter;
  font-size: .9rem;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1rem;
  margin-left: 5px;
  font-style: italic;
  color:  #6B778C;
  max-height: 200px;
  overflow: scroll;
  width: 98%;
  display: flex;

}

.Anchor {
  list-style-type: none
}

.AnchorList {
  list-style-type: none
}

.Unarchive {
  position: relative;
  background-color: #6B778C;
  color: whitesmoke ;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: none;
}

.Unarchive:hover {
  filter: brightness(.8);
}

.ToDo-Button{
  position: relative;
  background-color: #5AAC44;
  color: whitesmoke ;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: none;
}

.ToDo-Button:hover {
  filter: brightness(1.2);
}


.Issue-Button{
  position: relative;
  background-color: #be101087;
  color: whitesmoke ;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: none;
}

.Issue-Button:hover {
  filter: brightness(1.2);
}

.ContentContainer {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
  padding: 4px 4px 4px 4px;
  cursor: default;
  color: rgb(85, 83, 83);
  font-size: 1rem;
  word-break: break-all;
  transition: all 0.1s ease-in;

  margin: 5px 0px;
}

#Edit {
  left: 32;
}

.Header {
  max-width: 100% !important;
  position: relative;
  padding-top: 5px;
  padding-left: 5px !important;
  text-align: left;
  color: #555353;
  display: flex;
}

.HamburgerMenu {
  display: inline-flex;
}

.ExpandCollapse {
  text-align: center;
}

#Trash {
  left: 0;
}

.IconRow {
  position: relative;
}

.AnchorIconContainer {
  width:20px;
  height:20px;
  padding: 2px;
}

/* .AnchorTextContainer {
  display: inline-block;
  padding: 0px 0px 0px 8px;
} */

.AnchorIcon {
  width: 18px;
  /* color:  #6B778C; */
  filter: brightness(.8);
  height: 18px;
  cursor: pointer;
}

.AnchorIcon.hover, .AnchorIcon:hover {
  filter: brightness(.2);
  color: RED;
}

.ExpandCollapse.hidden {
  transform: rotate(270deg);
}

.Icon {
  width: 1.4em;
  color:  #6B778C;
  filter: brightness(.8);
  height: 1.5em;
  cursor: pointer;
}

.Icon.hover, .Icon:hover {
  filter: brightness(.5);
}

.FaCaretUp-Col {
  align-items: center;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  /* flex-grow: 1; */
  min-width: 0;
  max-width: 100%;
  /* margin-left: 50%; */

}

.IconContainer {
  padding:0px 0px 0px 5px;
  display: inline-flex;
}

.IconContainerCollapse {
  padding: 0px 0px 0px 25px;
  display: inline-flex;
  position: absolute;
}

.ContentContainer .editAreaContainer {
  padding: 5px 5px 5px 5px;
  width: 100%;
  /* max-height: 400px; */
}

.TextareaContainer {
  width: 100%;
  /* padding: 5px; */
}

.TextareaContainer textarea {
  resize: none;
  font-size: 14px;
  padding: 3px 6px;
}

.SubmitButtonContainer {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.AnnotationType {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.col2 {
  display: flex;
}

.PinContainer {
  display: inline-flex;
  padding: 4px 4px 0px 0px;
}

#DefaultBadgeContainer {
  width: 18px;
  height: 18px;
}

.ReplyHeader {
  color: #6B778C;
  padding: 0px 8px;
}

.ReplyField {
  padding: 8px;
}

.ReplyButtonRow {
  padding: 8px;
}

.buttonCol {
  display: flex;
}

.buttonCol.question {
  display: flex;
}

.HorizontalLine {
  color: #6B778C;
  background-color: #6B778C;
  border-color: #6B778C;
}

.Publish-Button{
  position: relative;
  background-color: #484848d9 ;
  color: whitesmoke ;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: none;
  
}

.Publish-Button.disabled, .Publish-Button:disabled {
  /* opacity: 0.65; */
  filter: brightness(.4);
}

.AnnotationOptionsTitle{
  font-size: 13px;
  font-weight: 300 !important;
  padding: .2rem .5rem 0rem .5rem !important;
  text-align: center !important;
}

.AnnotationOptionsTitle hr {
  margin: .35rem;
}

@media (max-width:380px){
  .AnnotationIconContainer {
      display: none !important;
  }
}

@media (max-width:380px){
  .AnnotationsOptions {
      display: flex !important;
  }
}

.AnnotationsOptions{
  display: none;
  padding: .5em;
  cursor: pointer;
  outline-color: transparent !important;
  padding-top: .2em !important;
}

.AnnotationsOptions .dropdown-toggle::after {
  display: none !important; 
}  

.AnnotationsOptions .dropdown .btn-primary{
  padding: .5em !important;
}

.AnnotationsOptions .dropdown .btn-primary:hover{
  padding: .5em;
  background: #e4e6eb;
  border-radius: 2em;
}

.AnnotationsOptions .dropdown .btn {
  padding: 0px;
  border-color: transparent;
  background-color: transparent;
}

.AnnotationsOptions .dropdown .nav-item:hover .dropdown-menu{
  display:block!important
}

.AnnotationsOptions .dropdown .btn-primary:focus, .btn:active {
  color:transparent;
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0 0 0 0 transparent;

}

.AnnotationsOptions .dropdown .btn-primary:focus, .btn-primary:active {
  outline: none !important;
  box-shadow: none;
  outline-color: none;
}

.AnnotationsOptions .dropdown .dropdown-toggle:focus,.dropdown-toggle:active {
  outline: none !important;
  box-shadow: none;
  outline-color: none;
}

.AnnotationsOptions .dropdown .btn-primary:not(:disabled):not(.disabled):active, .TitleContainer .container .row .btn-primary:not(:disabled):not(.disabled).active, .TitleContainer .container .row .show > .TitleContainer .container .row .btn-primary.dropdown-toggle {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  outline-color: none;
} 
/* button:focus {
  box-shadow: none;
  outline:0;
} */

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus{
  box-shadow: none !important;
}
.AnnotationsOptions .dropdown .btn-primary:not(:disabled):not(.disabled):active, .TitleContainer .container .row .btn-primary:not(:disabled):not(.disabled).active, .TitleContainer .container .row .show > .TitleContainer .container .row .btn-primary.dropdown-toggle {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  outline-color: none;
} 

.dropdown-item.active, .dropdown-item:active{
  color: inherit !important;
  background-color: transparent !important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  /* color: inherit !important; */
  background-color: inherit !important;
  border-color: inherit !important;
}

.AnnotationIconContainer {
  display: flex;
  align-items: center;
  align-self: baseline;
}



.TopIconContainer {
  margin-right: .75em;
  position: relative;
  cursor: pointer;
  padding: .35em .35em .35em .35em;
  background: #e4e6eb;
  border-radius: 1em;
}

.TopIconContainer:hover {
  filter: brightness(.75);
}

.TopIconContainer:focus, .TopIconContainer:focus-within, .TopIconContainer:active, .TopIconContainer:target  {
  /* padding: .5em; */
  background: rgb(34 195 105 / 12%);
  /* border-radius: 2em; */
}


.divider {
  background-color: #6B778C;
  padding: 0px;
  margin-bottom: .4rem;
  margin-left: .4rem;
  margin-right: .5rem;
  flex-grow: 1;
  margin-top: .55rem;
}

.Cancel-Button{
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  height: 100%;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  background-color: #6969692b !important;
  color: #484848d9 !important;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
 
  border-radius: 0.2rem;

}

.Cancel-Button.hover, .Cancel-Button:hover {
  /* opacity: 0.65; */
  filter: brightness(.25);
}

.separator {
  display: flex;
  flex-grow: 1;
  align-items: center;
  text-align: center;
}
.separator::before, .separator::after {
  content: '';
  flex-grow: 1;
  /* border-bottom: 1px solid #6B778C; */
  background: #6B778C;
  height: 1px;
}
.separator::before {
  margin-right: .25em;
  
}
.separator::after {
  margin-left: .25em;
}

.separator.left:after {
  background: none;
}
.separator.right:before {
  background: none;
  display: none;
}

.ShowHideReplies {
  display: inline-flex;
  color: #6B778C;
}

#ShowReplies {
  transform: rotate(270deg)
}

.SeparationRow {
  display: flex;
}