.AnnotationItem {
  width: 100%;
  display: flex;
  position: relative;
  padding: 5px 15px 5px 15px;
}

.InnerNewAnnotation {
  padding: 5px;
  background: white;
  border: 1px solid #bfbebe;
  box-shadow: 5px 5px 5px #88888887;
}


.CollapseIconPad {
  height: 8px;
}

.AnnotationContainerPad {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
}

.AnnotationContainerPadActive {
  background-color: rgb(255, 255, 255);
}

.AnnotationContainerPadInactiveHovering {
  background-color: rgb(244, 245, 245);
}

.AnnotationContainerLeftPadInner {
  width: 100%;
  height: 100%;
  background-color: rgb(222, 225, 230);
  border-bottom-right-radius: 8px;
}

.AnnotationContainerRightPadInner {
  width: 100%;
  height: 100%;
  background-color: rgb(222, 225, 230);
  border-bottom-right-radius: 8px;
}

.AnnotationContainer {
  padding: 5px;
  background: white;
  border: 1px solid #bfbebe;
  box-shadow: 5px 5px 5px #88888887;

  flex: 1;
  min-width: 0;
  /* padding: 4px 4px 4px 4px;
  cursor: default;
  outline-style: solid;
  color: rgb(44, 44, 44); */
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  /* background-color: rgba(255, 255, 255, 0.5); */
  transition: all 0.1s ease-in;
  position: relative;
  /* box-shadow: gray; */
}


.ActiveAnnotationContainer {
  background-color: rgb(255,255,255);
  outline-style: bold;
  outline: burlywood;
}

.InactiveAnnotationContainerHovering {
  background-color: rgb(255, 248, 155);
}

.AnnotationTitleContainer {
  flex: 1;
  min-width: 0;

  display: flex;
  align-items: center;
}

.AnnotationTitle {
  flex: 1;
  position: relative;
}

.Truncated {
  white-space: nowrap;
  /*word-break: break-all;*/
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: none;
}


.AnchorContainer {
  flex: 1;
  min-width: 0;


  border-left: 3px solid #658167;
  padding: 11px 5px 11px 5px;
  font-weight: lighter;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1rem;
  margin-left: 5px;
  font-style: italic;
  color: #666;
  max-height: 200px;
  overflow: auto;

  display: flex;
  /* align-items: center;
  padding: 8px 8px 8px 8px;
  cursor: default;
  background-color: rgb(177, 189, 185);
  color: rgb(85, 83, 83); */
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  /* border-color: rgb(0, 0, 0);
  border-width: 2px;
  max-height: 200px;
  word-break: break-all;


  transition: all 0.1s ease-in;

  margin: 5px 0px; */
}

.ContentContainer {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 8px;
  cursor: default;
  color: rgb(85, 83, 83);
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  /* max-height: 200px; */
  word-break: break-all;



  transition: all 0.1s ease-in;

  margin: 5px 0px;
}

#Edit {
  left: 32;
}

.Header {
  position: relative;
  padding-top: 5px;
  padding-left: 5px;
  text-align: left;
}

.TagRow {
  
}

#Trash {
  left: 0;
}

.IconRow {
  position: relative;
  /* padding: 10px; */
}

.Icon {
  width: 1.4em;
  color: #7f8080;
  height: 1.5em;
}

.FaCaretUp-Col {
  align-items: center;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  /* flex-grow: 1; */
  min-width: 0;
  max-width: 100%;
  /* margin-left: 50%; */

}

.IconContainer {
  padding:0px 0px 0px 5px;
  display: inline-flex;
}

.IconContainerCollapse {
  padding: 0px 0px 0px 25px;
  display: inline-flex;
  position: absolute;
}

.ContentContainer .editAreaContainer {
  padding: 5px 5px 5px 5px;
  width: 100%;
  /* max-height: 400px; */
}

.TextareaContainer {
  width: 100%;
  /* padding: 5px; */
}

.TextareaContainer textarea {
  resize: none;
  font-size: 14px;
  padding: 3px 6px;
}

.SubmitButtonContainer {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.AnnotationType {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}