.AnnotationItem {
  width: 100%;
  display: flex;
  position: relative;
}

.CollapseIconPad {
  height: 8px;
}

.AnnotationContainerPad {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
}

.AnnotationContainerPadActive {
  background-color: rgb(255, 255, 255);
}

.AnnotationContainerPadInactiveHovering {
  background-color: rgb(244, 245, 245);
}

.AnnotationContainerLeftPadInner {
  width: 100%;
  height: 100%;
  background-color: rgb(222, 225, 230);
  border-bottom-right-radius: 8px;
}

.AnnotationContainerRightPadInner {
  width: 100%;
  height: 100%;
  background-color: rgb(222, 225, 230);
  border-bottom-right-radius: 8px;
}

.AnnotationContainer {
  flex: 1;
  min-width: 0;
  padding: 4px 4px 4px 4px;
  cursor: default;
  outline-style: solid;
  color: rgb(44, 44, 44);
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in;
  position: relative;
  box-shadow: gray;
}


.ActiveAnnotationContainer {
  background-color: rgb(255,255,255);
  outline-style: bold;
  outline: burlywood;
}

.InactiveAnnotationContainerHovering {
  background-color: rgb(255, 248, 155);
}

.AnnotationTitleContainer {
  flex: 1;
  min-width: 0;

  display: flex;
  align-items: center;
}

.AnnotationTitle {
  flex: 1;
  position: relative;
}

.Truncated {
  white-space: nowrap;
  /*word-break: break-all;*/
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
}


.AnchorContainer {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 8px;
  cursor: default;
  background-color: rgb(177, 189, 185);
  color: rgb(85, 83, 83);
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  max-height: 200px;
  word-break: break-all;


  transition: all 0.1s ease-in;

  margin: 5px 0px;
}

.ContentContainer {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 8px;
  cursor: default;
  background-color: rgb(250, 238, 224);
  color: rgb(85, 83, 83);
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  max-height: 200px;
  word-break: break-all;



  transition: all 0.1s ease-in;

  margin: 5px 0px;
}

#Edit {
  left: 32;
}

#Trash {
  left: 0;
}

.IconRow {
  position: relative;
  /* padding: 10px; */
}

.Icon {
  width: 16px;
  height: 16px;
}

.IconContainer {
  padding:0px 0px 0px 5px;
  display: inline-flex;
}

.IconContainerCollapse {
  padding: 0px 0px 0px 25px;
  display: inline-flex;
  position: absolute;
}

.TextareaContainer {
  width: 100%;
  padding: 5px;
}

.TextareaContainer textarea {
  resize: none;
  font-size: 14px;
  padding: 3px 6px;
}

.SubmitButtonContainer {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
