body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  /* height: 100%; */
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  /* background-repeat: repeat; */
  background: rgb(34,195,105);
  background: linear-gradient(0deg, rgba(34,195,105,0.35) 0%, rgba(219,253,45,0.35) 47%, rgba(34,195,105,0.35) 100%); 
}

.highlight-adamite-search-suggest {
  background-color: #ffff0099;
}