@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900');

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.WholeSidebar {
  display: flex;
  background-color: white;
  height: 100vh;
  background-repeat: repeat;
}

.SidebarContainer {
  /*  ground: linear-gradient(30deg, rgba(34,195,105,0.34075637090773814) 0%, rgba(219,253,45,0.4275911048012955) 100%);  */
  height: 100vh;
  background-repeat: repeat;

}

.SideBarCardContent{
  padding-bottom: 5em;
}

.ControlPanel{
  padding: 0px 20px 5px 11px;
  margin-bottom: 2%;
}

#QuestionList {
  background-color: whitesmoke;
  height: 100vh;
  background-repeat: repeat;
  background: white;
}

.col {
  background-color: whitesmoke;
  background-repeat: repeat;
  display: block;
}

.AnnotationTextContainer {
  text-align: center;
}

.Filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 20px;
  height: 20px;
  color: #6B778C;
}

.FilterSummaryContainer{
  padding: 10px;
  background: white;
  box-shadow: 2px 2px 2px #88888887;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  flex: 1;
  min-width: 0;
  transition: all 0.1s ease-in;
  position: relative;
  font-size: 0.9rem;
  color: #6B778C;
}

.Icon {
  width: 1.4em;
  color: #7f8080;
  height: 1.5em;
  cursor: pointer;
}

.AnnotateButtonRow {
  background-color: white;
  padding: 8px;
}

.AnnotatePage {
  position: relative;
  background-color: #6B778C;
  color: whitesmoke ;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.AnnotatePage.disabled, .AnnotatePage:disabled {
  /* opacity: 0.65; */
  filter: brightness(.4);
}

.Icon.hover, .Icon:hover {
  filter: brightness(.5);
}

.TopRow {
  display: flex;
  background-color: white;
  padding-top: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 3px 5px 2px #88888866;
}

.TopRow.filterOpen {
  display: flex;
  background-color: white;
}


.Header {
  text-align: center;
}

.AnnotationListPadding {
  padding: 8px 8px 8px 8px;
}

.whoops {
  text-align: center;
  font-family: Helvetica;
  font-size: 0.9rem;
  padding: 4px 4px 4px 4px;
  color: #6B778C;
}

.userQuestionButtonContainer {
  text-align: center;
  padding-top: 1.5%;
}

.ModifyFilter {
  background-color: transparent;
  color: #6B778C;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}

.ModifyFilter.userQuestions {
  background-color: white;
  color: #6B778C;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: inline-block;
  box-shadow: 2px 2px 2px #8888;
}

.ModifyFilter.userQuestions:hover{
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 55%);
}

.ModifyFilter.userQuestions:before, .ModifyFilter.userQuestions:after {
  background-color: #6B778C;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  opacity: 75%;
}

@media (max-width:300px){
  .ModifyFilter.userQuestions:before, .ModifyFilter.userQuestions:after {
      max-width: 0px;
  }

}
@media (min-width:1000px){
.socialmedia {
  margin-right:100px;
}
}




.ModifyFilter.userQuestions:before {
  right: 0.8em;
  margin-left: -52%;
}

.ModifyFilter.userQuestions:after {
  left: 0.8em;
  margin-right: -51%;
  /* z-index: -1; */
}


.FilterButton {
  padding: 5px 0px 0px 6px;
}

.ShowMyQuestionsButtonContainer {
  padding: 5px;
  background: white;
  color: #6B778C;
  cursor: pointer;

  flex: 1;
  min-width: 0;
  transition: all 0.1s ease-in;
  position: relative;
}

.showMyQuestions {
  display: flex;
}

.FilterSummary {
  padding: 5px;
  background: white;
  box-shadow: 3px 5px 2px #88888866;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  flex: 1;
  min-width: 0;
  transition: all 0.1s ease-in;
  position: relative;
}

input, button, select, optgroup, textarea{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}