.SidebarContainer {
  background-color: whitesmoke;
  height: 100vh;
  background-repeat: repeat;
}
.AnnotationTextContainer {
  text-align: center;
}

.Filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 20px;
  height: 20px;
  color: #6B778C;
}

.Icon {
  width: 1.4em;
  color: #7f8080;
  height: 1.5em;
  cursor: pointer;
}

.AnnotateButtonRow {
  background-color: white;
  padding: 8px;
}

.AnnotatePage {
  position: relative;
  background-color: #6B778C;
  color: whitesmoke ;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.AnnotatePage.disabled, .AnnotatePage:disabled {
  /* opacity: 0.65; */
  filter: brightness(.4);
}

.Icon.hover, .Icon:hover {
  filter: brightness(.5);
}

.TopRow {
  display: flex;
  background-color: white;
}

.TopRow.filterOpen {
  display: flex;
  background-color: white;
}


.Header {
  text-align: center;
}

.AnnotationListPadding {
  padding: 8px 8px 8px 8px;
}

.whoops {
  text-align: center;
  font-family: Helvetica;
  font-size: 0.9rem;
  padding: 4px 4px 4px 4px;
  color: #6B778C;
}

.ModifyFilter {
  background-color: transparent;
  color: #6B778C;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: none;
}

.FilterButton {
  padding: 4px 0px 0px 4px;
}

.FilterSummary {
  padding: 5px;
  background: white;
  box-shadow: 2px 2px 2px #88888887;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  flex: 1;
  min-width: 0;
  transition: all 0.1s ease-in;
  position: relative;
}