.RichEditor-root {
    background: #fff;
    border: 1px solid #9f9e9e;
    font-family: 'Georgia', serif;
    font-size: 14px;
    padding: 10px 15px 15px 15px;
  }
  
  .RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    /* margin-top: 10px; */
  }
  
  .RichEditor-editor .public-DraftEditorPlaceholder-root,
  .RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
  }
  
  .RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
  }
  
  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
  
  .RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  
  .RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
  }
  
  .RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
  }
  
  .RichEditor-styleButton {
    color: darkslategrey;
    cursor: pointer;
    margin-right: 8px;
    padding: 2px 0;

    display: inline-block;
  }

  .RichEditor-styleSvg{
    width: 1.4em;
    color: #7f8080;
    height: 1.5em;

  }
  .RichEditor-styleSvg:hover{
    color: #5d5f5f;
  }
  
 .RichEditor-styleSvg:active{
    color: #5d5f5f;
  }
  
  .RichEditor-activeButton {
    color: #5890ff;
  }