.Tag {
    border: 1px solid #dbdbdb;
    margin: .15rem;
    border-radius: 24px;
    padding: .25em .5rem;
    position: relative;
    display: flex;
    font-size: 0.9rem;
    flex-wrap: wrap;
    position: relative;
    cursor: pointer;
    color: #666;
    display: inline-block;
    font-family: 'Roboto';
    font-size: .8rem;
    font-weight: 300;
}

.Tag.hover, .Tag:hover {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.TagContainer {
    padding: 4px;
    display: inline-block;
}